<!DOCTYPE html>
<html lang="{% block lang %}ru{% endblock %}">
<head>
    <meta charset="{% block charset %}UTF-8{% endblock %}">
    <link rel="icon" href="{% block favicon %}favicon.ico{% endblock %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{% block theme_color %}#000000{% endblock %}"/>
    <meta name="description" content="{% block description %}MLCRM - simple template to start develop{% endblock %}">
    <link rel="apple-touch-icon" href="{% block favicon192 %}favicon192.png{% endblock %}"/>
    <link rel="manifest" href="{% block manifest %}manifest.json{% endblock %}"/>
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}MLCRM | Simple Template{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>